.body {
    background-color: rgb(8, 31, 65);
    position: relative;
    overflow-x: hidden;
}
.body::-webkit-scrollbar {
    width: 10px;   
    margin-top: 5px;
}

.body::-webkit-scrollbar-thumb{
    background: #006688;
    border-radius: 20px;
}
.body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

hr {
    width: 90%;
    margin-left: 1px;
    margin-right: auto;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid white !important;
}

.encabezado {
    background: linear-gradient(rgb(39, 61, 68), rgb(0, 153, 204));
    border: 3px solid black;
    color: white;
    text-shadow: 10px 10px 6px #444;
    height: 100px;
    border-radius: 10px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.col-5 {
    margin-top: 7px !important;
}

.navbar {
    position: relative;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: linear-gradient( rgb(0, 153, 204), rgb(39, 61, 68));
    border-radius: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.dropdown-menu {
    background: linear-gradient( rgb(182, 233, 248), rgb(0, 153, 204));
    border-radius: 10px !important;
}

@media only screen and (min-width: 768px) {
    .banner {
        height: 500px;
        position: relative;
        border: 3px solid black;
        background-size: 100% 100%;
        transition: animation 0.4s;
        animation: banner 20s infinite;
        animation-direction: alternate;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    @keyframes banner {
        0%,
        31% {
            background-image: url(../image/fondo1.jpg);
            opacity: 1;
        }
        32%,
        34% {}
        35%,
        66% {
            background-image: url(../image/fondo2.jpg);
            opacity: 1;
        }
        67%,
        69% {}
        70%,
        100% {
            background-image: url(../image/fondo3.jpg);
            opacity: 1;
        }
    }
    h1 {
        font-size: 17px !important;
    }
    .col-6 {
        vertical-align: middle !important;
        top: 10px;
    }
    .blur {
        background-image: url('../image/mapa.jpg');
        background-size: 100% 98%;
        filter: blur(2px);
        height: 390px;
        margin-top: 5px;
        margin-left: 15px !important;
        margin-right: 15px;
        border-radius: 10px;
    }
    .mapa1 {
        position: absolute;
        width: 50%;
        top: 20px;
        left: 24%;
        height: 350px;
        border: 3px solid black;
        border-radius: 10px;
        /*-------------*/
        padding: 5px;
    }
    .sidebar {
        visibility: hidden;
    }
    .covertura {
        background-image: url(../image/argentina.png);
        background-size: 25% 90%;
        background-repeat: no-repeat;
        background-position: 300px !important;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        background-image: url(../image/fondo4.jpg);
        height: 310px;
        position: relative;
        border: 3px solid black;
        background-size: 100% 100%;
        transition: animation 0.4s;
        animation: banner 10s infinite;
        animation-direction: alternate;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .abrir {
        border: 3px solid black;
        visibility: hidden;
        top: 1%;
        color: #fff;
        background-color: #006688;
        width: 50% !important;
        height: 300px;
        margin-left: 1%;
        border-radius: 10px;
        vertical-align: middle;
        position: absolute;
        visibility: visible !important;
        transition: width 0.2s;
        opacity: 0.8 !important;
        padding: 5px;
        box-shadow: 4px 4px 10px rgba(26, 25, 25, 0.712);
    }
    h1 {
        font-size: 10px !important;
    }
    .col-6 {
        position: relative;
        top: 10px;
        right: 25px;
    }
    .blur {
        background-image: url('../image/mapa.jpg');
        /*background-size: 100% 98%;*/
        filter: blur(2px);
        height: 290px;
        margin-top: 5px;
        margin-left: 15px !important;
        margin-right: 15px;
        border-radius: 10px;
    }
    .mapa1 {
        position: absolute;
        width: 70%;
        top: 20px;
        left: 15%;
        height: 250px;
        border: 3px solid black;
        border-radius: 10px;
        /*-------------*/
        padding: 5px;
    }
    .sidebar {
        visibility: hidden;
    }
    .covertura {
        right: 1%;
        width: 90% !important;
    }
    .servicios {
        right: 1%;
        width: 90% !important;
    }
    .clientes {
        right: 1%;
        width: 90% !important;
    }
}


/*--------------------------------------*/


/*--------------------------------------*/

.pointer {
    cursor: pointer;
}



.covertura {
    position: absolute;
    visibility: visible !important;
    right: 1%;
    width: 70%;
    transition: width 0.1s;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(26, 25, 25, 0.712);
    border: 3px solid black;
    top: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7) !important;
    height: 400px;
    margin-left: 1%;
    border-radius: 10px;
    vertical-align: middle;
}

.servicios {
    background-image: none;
    position: absolute;
    visibility: visible !important;
    right: 1%;
    width: 70%;
    transition: width 0.1s;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(26, 25, 25, 0.712);
    border: 3px solid black;
    top: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7) !important;
    height: 400px;
    margin-left: 1%;
    border-radius: 10px;
    vertical-align: middle;
}

.clientes {
    border: 3px solid black;
    background-image: unset;
    position: absolute;
    visibility: visible !important;
    right: 1%;
    width: 70%;
    transition: width 0.1s;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(26, 25, 25, 0.712);
    top: 25px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7) !important;
    height: 400px;
    margin-left: 1%;
    border-radius: 10px;
    vertical-align: middle;
}

.contacto {
    border: 3px solid black;
    position: absolute;
    right: 1%;
    width: 40%;
    visibility: visible !important;
    height: 450px;
    top: 25px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 10px 10px;
    border-radius: 10px;
}

.rel {
    position: relative;
}

.row2 {
    background: linear-gradient(rgb(39, 61, 68), rgb(0, 153, 204));
    border: 3px solid black;
    text-shadow: 5px 5px 6px #444;
    height: 150px;
    border-radius: 10px !important;
    margin-top: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    position: relative;
    align-items: center;
}

h3 {
    font-size: 10px !important;
}

.col1 {
    color: #020D29;
    position: absolute;
    text-align: left !important;
}

.col2 {
    color: lemonchiffon;
    position: absolute;
    text-align: center !important;
}

.col3 {
    text-align: right !important;
    top: 60px !important;
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
    color: white !important;
}

button {
    border: none;
    background: #a2b4bd;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}



  